{% load static %}
<div class="header-bottom sticky-content fix-top sticky-header has-dropdown">
    <div class="container">
        <div class="inner-wrap">
            {% include 'includes/header-section/header-menu.html' %}
            <div class="header-right">
                <a href="#" class="d-xl-show"><i class="w-icon-map-marker mr-1"></i>Track Order</a>
                <a href="#"><i class="w-icon-sale"></i>Daily Deals</a>
            </div>
        </div>
    </div>
</div>
{#<div class="header-bottom sticky-content fix-top sticky-header has-dropdown">#}
{#        <div class="container">#}
{#            <div class="inner-wrap">#}
{#                {% include 'includes/header-section/header-menu.html' %}#}
{#                <div class="header-right">#}
{#                    <a href="#" class="d-xl-show"><i class="w-icon-map-marker mr-1"></i>Track Order</a>#}
{#                    <a href="#"><i class="w-icon-sale"></i>Daily Deals</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}