{% load static %}
<div class="header-top">
    <div class="container">
        <div class="header-left">
            <p class="welcome-msg">Welcome to Wolmart Store message or remove it!</p>
        </div>
        <div class="header-right">
            <div class="dropdown">
                <a href="#currency">USD</a>
                <div class="dropdown-box">
                    <a href="#USD">USD</a>
                    <a href="#EUR">EUR</a>
                </div>
            </div>
            <!-- End of DropDown Menu -->

            <div class="dropdown">
                <a href="#language"><img src="{% static '' %}images/flags/eng.png" alt="ENG Flag" width="14"
                        height="8" class="dropdown-image" /> ENG</a>
                <div class="dropdown-box">
                    <a href="#ENG">
                        <img src="{% static '' %}images/flags/eng.png" alt="ENG Flag" width="14" height="8"
                            class="dropdown-image" />
                        ENG
                    </a>
                    <a href="#FRA">
                        <img src="{% static '' %}images/flags/fra.png" alt="FRA Flag" width="14" height="8"
                            class="dropdown-image" />
                        FRA
                    </a>
                </div>
            </div>
            <!-- End of Dropdown Menu -->
            <span class="divider d-lg-show"></span>
            <a href="blog.html" class="d-lg-show">Blog</a>
            <a href="contact-us.html" class="d-lg-show">Contact Us</a>
            <a href="my-account.html" class="d-lg-show">My Account</a>
            <a href="ajax/login.html" class="d-lg-show login sign-in"><i
                    class="w-icon-account"></i>Sign In</a>
            <span class="delimiter d-lg-show">/</span>
            <a href="ajax/login.html" class="ml-0 d-lg-show login register">Register</a>
        </div>
    </div>
</div>
<!-- End of Header Top -->