{% extends 'base.html' %}
{% load static %}

    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/demo1.min.css' %}">
    {% endblock css %}

    {% block body %}
    <div class="page-wrapper">
        <h1 class="d-none">Wolmart - Responsive Marketplace HTML Template</h1>
        <!-- Start of Header -->
{#        {% include 'header.html' %}#}
        <!-- End of Header -->

        <!-- Start of Main-->
        <main class="main">
            {% include 'includes/slider/top-slider.html' %}
            <!-- End of .intro-section -->

            <div class="container">
                {% include 'includes/homepage-element/icon-box.html' %}
                <!-- End of Iocn Box Wrapper -->

                {% include 'includes/homepage-element/banner-1.html' %}
                <!-- End of Category Banner Wrapper -->

                <div class="row deals-wrapper appear-animate mb-8">
                    <div class="col-lg-9 mb-4">
                        {% include 'includes/homepage-element/single-product-section.html' %}
                        <!-- single product section -->
                    </div>
                    <div class="col-lg-3 mb-4">
                        {% include 'includes/homepage-element/best-sell-product-list.html' %}
                    </div>
                </div>
                <!-- End of Deals Wrapper -->
            </div>

            {% include "includes/homepage-element/top-categories-section.html" %}
            <!-- End of .category-section top-category -->
            <div class="container">
                {% include 'includes/homepage-element/product-list.html' %}

                {% include 'includes/homepage-element/client-section.html' %}
                <!-- End of Brands Wrapper -->

                {% include 'includes/homepage-element/blog-section.html' %}
                <!-- Post Wrapper -->
                
                {% include 'includes/homepage-element/recently-view-section.html' %}
                <!-- End of Reviewed Producs -->

            </div>
            <!--End of Catainer -->
        </main>
        <!-- End of Main -->

        <!-- Start of Footer -->
        
{#        {% include 'footer-section.html' %}#}
        <!-- End of Footer -->
    </div>
    <!-- End of Page-wrapper-->

{#    <!-- Start of Sticky Footer -->#}
{#    {% include 'sticky-section/sticky-footer-1.html' %}#}
{#    <!-- End of Sticky Footer -->#}

{#    <!-- Start of Scroll Top -->#}
{#    {% include 'sticky-section/scroll-top-1.html' %}#}
{#    <!-- End of Scroll Top -->#}

{#    <!-- Start of Mobile Menu -->#}
{#    {% include 'mobile-view-menu/mobile-view-menu-1.html' %}#}
{#    <!-- End of Mobile Menu -->#}

    <!-- Start of Newsletter popup -->
    {% include 'popup/newsletter-group.html' %}
    <!-- End of Newsletter popup -->

{#    <!-- Start of Quick View -->#}
{#    {% include 'quick-view/homepage-quick-view-1.html' %}#}
{#    <!-- End of Quick view -->#}
    {% endblock body %}

    {% block js %}
        <script src="{% static '' %}vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    {% endblock js %}


