{% load static %}
<div class="widget widget-banner mb-9">
                <div class="banner banner-fixed br-sm">
                    <figure>
                        <img src="{% static '' %}images/shop/banner3.jpg" alt="Banner" width="266"
                            height="220" style="background-color: #1D2D44;" />
                    </figure>
                    <div class="banner-content">
                        <div class="banner-price-info font-weight-bolder text-white lh-1 ls-25">
                            40<sup class="font-weight-bold">%</sup><sub
                                class="font-weight-bold text-uppercase ls-25">Off</sub>
                        </div>
                        <h4
                            class="banner-subtitle text-white font-weight-bolder text-uppercase mb-0">
                            Ultimate Sale</h4>
                    </div>
                </div>
            </div>