{% load static %}
<aside class="sidebar product-sidebar sidebar-fixed right-sidebar sticky-sidebar-wrapper">
    <div class="sidebar-overlay"></div>
    <a class="sidebar-close" href="#"><i class="close-icon"></i></a>
    <a href="#" class="sidebar-toggle d-flex d-lg-none"><i class="fas fa-chevron-left"></i></a>
    <div class="sidebar-content scrollable">
        <div class="sticky-sidebar">
            {% include 'product/include-product-page-element/sidebar-top.html' %}
            <!-- End of Widget Icon Box -->

            {% include 'product/include-product-page-element/sidebar-banner.html' %}
            <!-- End of Widget Banner -->

            {% include 'product/include-product-page-element/sidebar-button-product.html' %}
        </div>
    </div>
</aside>
<!-- End of Sidebar -->