{% extends 'base.html' %} {% load static %}

    {% block css %}
    {% endblock css %}

    {% block body %}

        <!-- Start of Main -->
        <main class="main checkout">
            <!-- Start of Breadcrumb -->
            {% include 'checkout/include-checkout-page-element/header-navication.html' %}
            <!-- End of Breadcrumb -->


            <!-- Start of PageContent -->
            <div class="page-content">
                <div class="container">
                    {% include 'checkout/include-checkout-page-element/login-form.html' %}
                    {% include 'checkout/include-checkout-page-element/apply-for-coupon.html' %}
                    {% include 'checkout/include-checkout-page-element/billing-form.html' %}
                </div>
            </div>
            <!-- End of PageContent -->
        </main>
        <!-- End of Main -->

        <!-- Start of Footer -->
        <!-- End of Footer -->

    {% block js %}
        <script src="{% static 'js/custom/cart.function.js' %}"></script>
    {% endblock js %}
    {% endblock body %}
