{% load static %}
<!-- Start of Shop Category -->
<div class="shop-default-category category-ellipse-section mb-6">
    <div class="swiper-container swiper-theme shadow-swiper"
        data-swiper-options="{
        'spaceBetween': 20,
        'slidesPerView': 2,
        'breakpoints': {
            '480': {
                'slidesPerView': 3
            },
            '576': {
                'slidesPerView': 4
            },
            '768': {
                'slidesPerView': 6
            },
            '992': {
                'slidesPerView': 7
            },
            '1200': {
                'slidesPerView': 8,
                'spaceBetween': 30
            }
        }
    }">
        <div class="swiper-wrapper row gutter-lg cols-xl-8 cols-lg-7 cols-md-6 cols-sm-4 cols-xs-3 cols-2">
            <div class="swiper-slide category-wrap">
                <div class="category category-ellipse">
                    <figure class="category-media">
                        <a href="products.html">
                            <img src="{% static '' %}images/categories/category-4.jpg" alt="Categroy"
                                 width="190" height="190" style="background-color: #5C92C0;" />
                        </a>
                    </figure>
                    <div class="category-content">
                        <h4 class="category-name">
                            <a href="products.html">Sports</a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="swiper-slide category-wrap">
                <div class="category category-ellipse">
                    <figure class="category-media">
                        <a href="products.html">
                            <img src="{% static '' %}images/categories/category-5.jpg" alt="Categroy"
                                 width="190" height="190" style="background-color: #B8BDC1;" />
                        </a>
                    </figure>
                    <div class="category-content">
                        <h4 class="category-name">
                            <a href="products.html">Babies</a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="swiper-slide category-wrap">
                <div class="category category-ellipse">
                    <figure class="category-media">
                        <a href="products.html">
                            <img src="{% static '' %}images/categories/category-6.jpg" alt="Categroy"
                                 width="190" height="190" style="background-color: #99C4CA;" />
                        </a>
                    </figure>
                    <div class="category-content">
                        <h4 class="category-name">
                            <a href="products.html">Sneakers</a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="swiper-slide category-wrap">
                <div class="category category-ellipse">
                    <figure class="category-media">
                        <a href="products.html">
                            <img src="{% static '' %}images/categories/category-7.jpg" alt="Categroy"
                                 width="190" height="190" style="background-color: #4E5B63;" />
                        </a>
                    </figure>
                    <div class="category-content">
                        <h4 class="category-name">
                            <a href="products.html">Cameras</a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="swiper-slide category-wrap">
                <div class="category category-ellipse">
                    <figure class="category-media">
                        <a href="products.html">
                            <img src="{% static '' %}images/categories/category-8.jpg" alt="Categroy"
                                 width="190" height="190" style="background-color: #D3E5EF;" />
                        </a>
                    </figure>
                    <div class="category-content">
                        <h4 class="category-name">
                            <a href="products.html">Games</a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="swiper-slide category-wrap">
                <div class="category category-ellipse">
                    <figure class="category-media">
                        <a href="products.html">
                            <img src="{% static '' %}images/categories/category-9.jpg" alt="Categroy"
                                 width="190" height="190" style="background-color: #65737C;" />
                        </a>
                    </figure>
                    <div class="category-content">
                        <h4 class="category-name">
                            <a href="products.html">Kitchen</a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="swiper-slide category-wrap">
                <div class="category category-ellipse">
                    <figure class="category-media">
                        <a href="products.html">
                            <img src="{% static '' %}images/categories/category-20.jpg" alt="Categroy"
                                 width="190" height="190" style="background-color: #E4E4E4;" />
                        </a>
                    </figure>
                    <div class="category-content">
                        <h4 class="category-name">
                            <a href="products.html">Watches</a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="swiper-slide category-wrap">
                <div class="category category-ellipse">
                    <figure class="category-media">
                        <a href="products.html">
                            <img src="{% static '' %}images/categories/category-21.jpg" alt="Categroy"
                                 width="190" height="190" style="background-color: #D3D8DE;" />
                        </a>
                    </figure>
                    <div class="category-content">
                        <h4 class="category-name">
                            <a href="products.html">Clothes</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<!-- End of Shop Category -->